/* Estilos generales */
main {
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 35px auto; /* Centrar el contenido y agregar margen arriba y abajo */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 100px; /* Margen inferior igual o mayor a la altura del footer */
}

h2, h3, p {
    margin-bottom: 10px; /* Espaciado entre elementos */
}

img {
    max-width: 100%; /* Las imágenes no superarán el ancho del contenedor */
    height: auto; /* Mantener la proporción de aspecto */
    display: block; /* Para evitar problemas de alineación */
    margin: 0 auto; /* Centrar las imágenes */
}

/* Media queries para dispositivos pequeños */
@media screen and (max-width: 600px) {
    main {
        padding: 10px; /* Reducir el espaciado interno */
    }

    h2, h3, p {
        font-size: 90%; /* Reducir el tamaño de fuente */
    }
}