
.subfooter {
    width: 100%;
    padding: 20px;
    background-color: #222;
    color: white;
    text-align: center;
    box-sizing: border-box; 

  }
  
 
  footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #333;
    color: white;
    box-sizing: border-box; 
  }
  

  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
  }
  
 
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box; 
    margin-bottom: 0;
  }
 
  .footer-div {
    flex: 1;
    padding: 10px;
    text-align: center;
    box-sizing: border-box; 
  }
  
  h2{
    margin-top: 50px;
  }
 
  