/* Estilo básico para el mensaje de alerta */
#errorModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para el modal */
    z-index: 1000; /* Asegura que el modal esté sobre otros elementos */
}

.modal-content {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra ligera */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#errorModal p {
    margin-bottom: 20px;
    font-size: 16px;
}

#errorModalButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#errorModalButton:hover {
    background-color: #df372c;
}